.page-button{
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    border-radius: 25px;
    background-color: #282c34;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    width: relative;
    text-decoration: none;
}